.wrapper {
  position: absolute;
  top: 0;

  display: flex;

  @media screen and (max-width: 768px) {
    flex-direction: column;
  }

  .item {
    width: 100vw;
    height: 100vh;
    display: flex;
    padding: 5vw;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    color: var(--white);

    @media screen and (max-width: 768px) {
      padding: 12vh 5vw;
      justify-content: end;
      flex-direction: column-reverse;
    }

    .title {
      font-size: 10vw;
      font-weight: bold;
      margin: 0;
      -webkit-text-stroke: 0.2rem var(--white);
      color: transparent;

      @media screen and (max-width: 768px) {
        font-size: 20vw;
      }
    }
  }
}
