.wrapper {
  position: relative;

  .title {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 7vw;
    font-weight: bold;
    pointer-events: none;

    position: fixed;
  }

  .videoWrapper {
    height: 100vh;
    width: 100vw;
    padding: 10% 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    video {
      flex: 1 1 auto;
      max-height: 80vh;
      max-width: 60%;
      filter: sepia(1);
    }
  }

  .spacer {
    height: 100vh;
    width: 100vw;
  }
}
