:root {
  --light-green: #4fb097;
  --dark-green: #00795a;
  --white: antiquewhite;
  --black: #252525;

  --foreground: var(--black);
  --background: var(--white);
  --accent: var(--dark-green);
}

html,
body {
  padding: 0;
  margin: 0;
  background-color: var(--background);
  color: var(--foreground);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  transition: background-color 0.15s ease-in-out;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
a,
span,
div {
  transition: color 0.15s ease-in-out;
}

::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
}
