.wrapper {
  padding: 4rem 2rem;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .title {
    margin: 0 0 1rem;
    line-height: 1.15;
    font-size: clamp(36px, 8vw, 82px);
    text-align: center;

    a:hover,
    a:focus,
    a:active {
      text-decoration: underline;
    }
  }

  .description {
    margin: 0 0 4rem;
    line-height: 1.5;
    font-size: 1.5rem;
    text-align: center;

    a {
      color: var(--accent);
      text-decoration: none;
    }
  }

  .code {
    background: #fafafa;
    border-radius: 5px;
    padding: 0.75rem;
    font-size: 1.1rem;
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
      DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
  }

  .grid {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 800px;

    @media (max-width: 600px) {
      width: 100%;
      flex-direction: column;
    }

    .card {
      margin: 1rem;
      padding: 1.5rem;
      text-align: left;
      color: inherit;
      text-decoration: none;
      border: 1px solid var(--foreground);
      border-radius: 10px;
      transition: border-color 0.15s ease-in-out, transform 0.15s ease-in-out;
      max-width: 300px;

      &:hover,
      &:focus,
      &:active {
        color: var(--accent);
        border-color: var(--accent);
        transform: scale(1.05);
      }

      h2 {
        margin: 0 0 1rem 0;
        font-size: 1.5rem;
      }

      p {
        margin: 0;
        font-size: 1.25rem;
        line-height: 1.5;
      }
    }
  }
}
